@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  height: 100vh;
  cursor: url('../src/assets/images/cursor/aubtech.svg'), auto;
}

/* .cursor {
  width: 32px;
  height: 32px;
  border: 2px solid rgb(240, 70, 169);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
} */
.customCursor {
  cursor: url('/../src/assets/images/cursor/aubtech-hover.svg'), auto;
}

.swiper-pagination-bullet-active {
  background-color: #f9004d !important;
}



@layer base {
  :root {
    --color-text-navText: #CBD5E0;
    --color-text-navTextHover: #EF4444;
    --color-text-navSubHeading: #718096;
    --color-text-Heading: #1f1f25;
    --color-text-white: #FFFFFF;
    --color-text-count: #f9004d;
    --color-text-FooterText: #c6c9d8;
    --color-text-FooterButtonText: #f9004d;
    --color-text-subHeading: #717173;
    --color-text-bannerIcon: #EC4899;
    --color-button-navHover: #f9004d;
    --color-fillServicesBg: #f5f5f5;
    --color-fillContactUsCardBg: #FFFFFF;
    --color-fillBannerTitleStart: #DC2626;
    --color-fillBannerTitleEnd: #D946EF;
    --color-text-muted: red;
  }
}